<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>

        <p>Browse our service project categories:</p>
        <ol class="card-grid">
            <% categories.forEach(category=> { %>
                <li class="card">
                    <div class="card-content">
                        <h3>
                            <%= category.name %>
                        </h3>
                    </div>
                </li>
                <% }); %>
        </ol>
    </main>

    <%- include('partials/footer') %>