<%- include('partials/header') %>
    <h1>
        <%= title %>
    </h1>

    <img src="/images/volunteers-hero.webp" alt="Volunteers" class="hero-image">

    <p class="home-subtitle">Welcome to the CSE 340 Service Network! This platform connects volunteers with opportunities.</p>
    <%- include('partials/footer') %>