    </main>
<footer>
    <p>&copy; <%= new Date().getFullYear() %> CSE 340 Service Network.
            <% if (NODE_ENV==='development' ) { %>
                (Development mode)
                <% } %>

    </p>
</footer>
</body>

</html>